<!doctype html>
<html>
  <head>
    <title>Denmark Mentions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>

    <style>
      body{
        background-color: #dedfe0;
        margin-left: 0;
      }
      .round{
        border-radius: 5px;
        padding: 5px;
      }
      a.btn{
        margin-top: 10px;
        width: 100%;
      }
      #submit-btn{
        background-color: #428bca;
        color: white;
      }
      #update-btn{
        background-color: #d9534f;
        color: white;
      }
      .btn-danger{
        background-color: #d9534f;
      }
      .btn-primary{
        background-color: #428bca;
      }
      .btn-info{
        background-color: #5bc0de;
      }
      .input-group{
        margin-top: 10px;
      }
      .input-group-addon{
        background-color: white;
      }
      .alert{
        margin: 10px;
      }

    </style>

    <div class='container'>
      <div class='row'>
        <div class='col-2'></div>
        <div class='col-8'>
          <center><h2 style='margin-top: 20px; margin-bottom: 20px; font-size: 3em; color: #37a000;'>Denmark Mentions</h2></center>
        </div>
        <div class='col-2'></div>
      </div>
      <div class='row'>
        <div class='col-2'>
          <p>Survey Links</p>
          <ul style='list-style:none;'>
            <li><a target='blank' href='https://www.socialbakers.com/statistics/twitter/profiles/denmark/' class='btn btn-info'>Twitter</a></li>
            <li><a target='blank' href='https://www.socialbakers.com/statistics/facebook/pages/total/denmark/' class='btn btn-primary'>Facebook</a></li>
            <li><a target='blank' href='https://www.socialbakers.com/statistics/youtube/channels/denmark/' class='btn btn-danger'>Youtube</a></li>
          </ul>
        </div>
        <div class='col-8'>
          <div class='container'>
            <div class='row'>
              <div class='col-12'>
                <form method='post' action='.'>
                  {% csrf_token %}
                  <div class='form-group row'>
                    <label for='keywords' class='col-2 col-form-label'> Keywords</label>
                    <div class='col-10'>
                      <input class='form-control' type='text' placeholder='enter comma separated search keywords' name='keywords' id='keywords'>
                    </div>
                  </div>
                  <div class='form-group row'>
                    <label for='users' class='col-2 col-form-label'>Users</label>
                    <div class='col-10'>
                      <input class='form-control' type='text' placeholder='enter comma separated usernames/userids to filter results' name='users' id='users'>
                    </div>
                  </div>
                  <div class='form-group row'>
                    <label for='date' class='col-2 col-form-label'>Date</label>
                    <div class='col-10'>
                      <input class='form-control' type='text' placeholder='start date: dd-mm-yyyy' name='date' id='date'> 
                    </div>
                  </div>

                  <div class='form-check'>
                    <label for='excel' class='form-check-label'>
                    <input class='form-check-input' type='checkbox' placeholder='check for exporting to excel' name='export_to_excel' id='excel'/>
                    Download results as excel
                    </label>
                  </div>

                  <button type='submit' class='btn btn-primary' id='submit-btn' style='width: 100%'> Search </button>
                </form>
              </div>
            </div>
            <br />
            <div class='row'>
              <div class='col-12'>
                <div class='input-group'>
                  <input type='text' class='form-control' placeholder='facebook access token here' id='access_token' />
                  <button class='btn btn-danger input-group-addon' id="update-btn" title='it should take a while'>
                    Update Archive
                  </button>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-12'>
                <div class='input-group'>
                  <input type='text' class='form-control' placeholder='space separated list of users/pages to be added to archive' id='user-list' />
                  <button class='btn btn-danger input-group-addon' id='user-list-btn' title='it should take a while'>
                    Update Lists
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-2'>
            <center>
              <div class='row'>
                <div class='col-12'>
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal"
                        style="background-color: #37a000; border-color: #48b111"
                    >
                    See guide to using this!
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="width: 900px !important;">
                      <div class="modal-content"style="width: 900px !important;">
                        <center>
                        <div class="modal-header"style="width: 900px !important;">
                          <center><h5 class="modal-title" id="exampleModalLabel">How to use properly</h5></center>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        </center>
                        <center>
                        <div class="modal-body"style="width: 900px !important;">
                          <p>There are three main input fields: keywords, users, date.</p>
                          <ul>
                            <li>
                              <p><b>Keywords</b> field is a list of comma(,) separated list of words to find occurrences for.
                              <b>Each keyword length should be greater than or equal to 4, otherwise it would be ignored.</b>
                              <br/>
                              E.g.: "something, nothing else" => It has two keywords, first is "something" and 
                              second is "nothing else".</p>
                            </li>
                            <li>
                              <p><b>Users</b> field is a list of comma(,) separated list of users to look into.
                              In this list you can either provide a numeric id or a textual username.<br/>
                              E.g.: "11234123, sheldon cooper" => It has two users, first is "11234123" and 
                              second is "sheldon cooper". Result will only include articles from any of the users.</p>
                            </li>
                            <li>
                              <p><b>Date</b> field includes results that were published after the given date only.</p>
                            </li>
                            <li>
                              <p>
                              <em>You can keep keywords empty in that case all posts by given users should show</em>
                              </p>
                            </li>
                            <li>
                              <p>
                              <em>Users can be kept empty in that case all articles with keyword occurrences should show.</em>
                              <p>
                            </li>
                            <li>
                              <em>"facebook+youtube" will give you articles that contain both facebook and youtube. "facebook+youtube, gmail+google" will give you article that contain (facebook and youtube) or (google or gmail). Turns out "," works as "OR" operator and "+" works as "AND" operator.</em>
                            </li>
                            <li>Facebook access token is required to initiate updating the database, this token can be fetched <a target='blank' href="https://developers.facebook.com/tools/explorer/145634995501895/?method=GET&path=%7Bpage-id%7D&version=v2.10">here</a><li>
                            <li>Update List: You can paste space separated list of urls to fb_pages/yt_channels etc, this will update lists in archive.</li>
                          </ul>
                        </div>
                        </center>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </center>
        </div>
      </div>
      <a name='fb-comments-section'></a>
      {% if fb_comments %}
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'></div>
          <div class='col-8'>
            <a class='col-3 btn btn-primary' href='#fb-comments-section'>FB Comments({{fb_comments_count}})</a>
            <a class='col-3 btn btn-primary' href='#fb-post-section'>FB Posts({{fb_posts_count}})</a>
            <a class='col-3 btn btn-danger' href='#yt-comments-section'>YT Posts({{yt_comments_count}})</a>
            <a class='col-2 btn btn-info' href='#tweets-section'>Tweets({{tweets_count}})</a>
          </div>
          <div class='col-2'></div>
        </div>
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'> </div>
          <div class='col-8'>
            <div class='container'>
              <div class='row'>
                <div class='bg-info round container col-12'>Total occurrences: {{ fb_comments_count }}, displaying at most 100. </div> <br />
                {% for comment in fb_comments %}
                  <div class='card' style='width: 22rem; margin: 5px;'>
                    <div class='card-header btn-primary'>
                      <span>Facebook Comment 
                        {% if comment.comment_id %}
                          ({{comment.comment_id}})
                        {% endif %}
                      </span>
                    </div>
                    <div class='card-block'>
                      <h6 class='card-title'>User: {{comment.username}} 
                        {% if comment.user_id %}
                          ({{comment.user_id}})
                        {% endif %}
                      </h6>
                      <h6 class='card-subtitle mb-2 text-muted'>Timestamp: {{comment.timestamp}}</h6>
                      {% if comment.page_id %}
                        <h6 class='card-subtitle mb-2 text-muted'>Page: {{comment.page_id}}</h6>
                      {% endif %}
                      <hr>
                      <p class='card-text'>
                      {{comment.message|safe}}
                      </p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class='col-2'> </div>
        </div>
      {% endif %}
      <a name='fb-post-section'></a>
      {% if fb_posts %}
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'></div>
          <div class='col-8'>
            <a class='col-3 btn btn-primary' href='#fb-comments-section'>FB Comments({{fb_comments_count}})</a>
            <a class='col-3 btn btn-primary' href='#fb-post-section'>FB Posts({{fb_posts_count}})</a>
            <a class='col-3 btn btn-danger' href='#yt-comments-section'>YT Posts({{yt_comments_count}})</a>
            <a class='col-2 btn btn-info' href='#tweets-section'>Tweets({{tweets_count}})</a>
          </div>
          <div class='col-2'></div>
        </div>
          <div class='row' style='margin-top: 10px'>
            <div class='col-2'> </div>
            <div class='col-8'>
              <div class='container'>
                <div class='row'>
                  <div class='bg-info round container col-12'>Total occurrences: {{ fb_posts_count }}, displaying at most 100. </div> <br />
                  {% for post in fb_posts %}
                    <div class='card' style='width: 22rem; margin: 5px;'>
                      <div class='card-header btn-primary'>
                        <span>Facebook Post 
                          {% if post.post_id %}
                            ({{post.post_id}})
                          {% endif %}
                        </span>
                      </div>
                      <div class='card-block'>
                        <h4 class='card-title'>Page: {{post.username}}
                          {% if post.user_id %}
                            ({{post.user_id}})
                          {% endif %}
                        </h4>
                        <h6 class='card-subtitle mb-2 text-muted'>Timestamp: {{post.timestamp}}</h6>
                        <hr>
                        <p class='card-text'>{{post.message|safe}}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class='col-2'> </div>
          </div>
      {% endif %}
      <a name='yt-comments-section'></a>
      {% if yt_comments %}
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'></div>
          <div class='col-8'>
            <a class='col-3 btn btn-primary' href='#fb-comments-section'>FB Comments({{fb_comments_count}})</a>
            <a class='col-3 btn btn-primary' href='#fb-post-section'>FB Posts({{fb_posts_count}})</a>
            <a class='col-3 btn btn-danger' href='#yt-comments-section'>YT Posts({{yt_comments_count}})</a>
            <a class='col-2 btn btn-info' href='#tweets-section'>Tweets({{tweets_count}})</a>
          </div>
          <div class='col-2'></div>
        </div>
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'> </div>
          <div class='col-8'>
            <div class='container-fluid'>
              <div class='row'>
                <div class='bg-info round container col-12'>Total occurrences: {{ yt_comments_count }}, displaying at most 100. </div> <br />
                {% for comment in yt_comments %}
                  <div class='card' style='width: 22rem; margin: 5px;'>
                    <div class='card-header btn-danger'>
                      <span>Youtube Comment ({{comment.comment_id}})</span>
                    </div>
                    <div class='card-block'>
                      <h6 class='card-title'>User: {{comment.username}}</h6>
                      <h6 class='card-subtitle mb-2 text-muted'>channel: {{comment.channel_id}}</h6>
                      <h6 class='card-subtitle mb-2 text-muted'>{{comment.timestamp}}</h6>
                      <h6>Video: {{comment.video}}({{comment.video_id}})</h6>
                      <hr>
                      <p class='card-text'>{{comment.message|safe}}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class='col-2'> </div>
        </div>
      {% endif %}
      <a name='tweets-section'></a>
      {% if tweets %}
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'></div>
          <div class='col-8'>
            <a class='col-3 btn btn-primary' href='#fb-comments-section'>FB Comments({{fb_comments_count}})</a>
            <a class='col-3 btn btn-primary' href='#fb-post-section'>FB Posts({{fb_posts_count}})</a>
            <a class='col-3 btn btn-danger' href='#yt-comments-section'>YT Posts({{yt_comments_count}})</a>
            <a class='col-2 btn btn-info' href='#tweets-section'>Tweets({{tweets_count}})</a>
          </div>
          <div class='col-2'></div>
        </div>
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'> </div>
          <div class='col-8'>
            <div class='container'>
              <div class='row'>
                <div class='bg-info round container col-12'>Total occurrences: {{ tweets_count }}</div> <br />
                {% for tweet in tweets %}
                  <div class='card' style='width: 22rem; margin: 5px;'>
                    <div class='card-header btn-info'>
                      <span>Tweet ({{tweet.tweet_id}})</span>
                    </div>
                    <div class='card-block'>
                      <h6 class='card-title'>User: {{tweet.username}} ({{  tweet.user_id }})</h6>
                      <h6 class='card-subtitle mb-2 text-muted'>Timestamp: {{tweet.timestamp}}</h6>
                      <hr>
                      <p class='card-text'>{{tweet.message|safe}}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class='col-2'> </div>
        </div>
      {% endif %}
    </div>
    {% load staticfiles %}
    <script src="{% static 'main.js' %}"></script>

  </body>
</html>
