<!doctype html>
<html>
  <head>
    <title>Denmark Mentions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>

    <style>
      body{
        background-color: #dedfe0;
      }
      .round{
        border-radius: 5px;
        padding: 5px;
      }
      #submit-btn{
        background-color: #428bca;
        color: white;
      }
      #update-btn{
        background-color: #d9534f;
        color: white;
      }
      .btn-danger{
        background-color: #d9534f;
      }
      .btn-primary{
        background-color: #428bca;
      }
      .input-group{
        margin-top: 10px;
      }
      .input-group-addon{
        background-color: white;
      }
      .alert{
        margin: 10px;
      }

    </style>

    <div class='container'>
      <div class='row'>
        <div class='col-2'></div>
        <div class='col-8'>
          <center><h2>Denmark Mentions</h2></center>
        </div>
        <div class='col-2'></div>
      </div>
      <div class='row'>
        <div class='col-2'> </div>
        <div class='col-8'>
          <div class='container'>
            <div class='row'>
              <div class='col-12'>
                <form method='post'>
                  {% csrf_token %}
                  <div class='input-group'>
                    {% for comp in form %}
                      {{comp}}
                    {% endfor %}
                    <button type='submit' class='btn btn-primary input-group-addon' id='submit-btn'> Search </button>
                  </div>
                </form>
              </div>
            </div>
            <div class='row'>
              <div class='row-12'>
                <div class='alert alert-info' role='alert'>
                  <strong>Date Field:</strong> Enter date in given format to include results after that date only.<br />
                  <strong>Checkbox:</strong> Tick the checkbox if you want to download results in excel format.
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-12'>
                <div class='input-group'>
                  <input type='text' class='form-control' placeholder='access token here' id='access_token' />
                  <button class='btn btn-danger input-group-addon' id="update-btn" title='it should take a while'>
                    Update Archive
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-2'>
        </div>
      </div>
      <a name='fb-comments-section'></a>
      {% if fb_comments %}
      <div class='row' style='margin-top: 10px'>
        <div class='col-2'></div>
        <div class='col-8'>
          <a class='btn btn-primary' href='#fb-comments-section'>FB Comments({{fb_comments_count}})</a>
          <a class='btn btn-primary' href='#fb-post-section'>FB Posts({{fb_posts_count}})</a>
          <a class='btn btn-danger' href='#yt-comments-section'>YT Posts({{yt_comments_count}})</a>
        </div>
        <div class='col-2'></div>
      </div>
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'> </div>
          <div class='col-8'>
            <div class='container'>
              <div class='row'>
                <div class='bg-info round container col-12'>Total occurrences: {{ fb_comments_count }}, displaying at most 100. </div> <br />
                {% for comment in fb_comments %}
                  <div class='card' style='width: 22rem; margin: 5px;'>
                    <div class='card-header btn-primary'>
                      <span>Facebook Comment (id: {{comment.comment_id}})</span>
                    </div>
                    <div class='card-block'>
                      <h4 class='card-title'>{{comment.username}}</h4>
                      <h6 class='card-subtitle mb-2 text-muted'>{{comment.timestamp}}</h6>
                      <p class='card-text'>{{comment.message}}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class='col-2'> </div>
        </div>
      {% endif %}
      <a name='fb-post-section'></a>
      {% if fb_posts %}
      <div class='row' style='margin-top: 10px'>
        <div class='col-2'></div>
        <div class='col-8'>
          <a class='btn btn-primary' href='#fb-comments-section'>FB Comments({{fb_comments_count}})</a>
          <a class='btn btn-primary' href='#fb-post-section'>FB Posts({{fb_posts_count}})</a>
          <a class='btn btn-danger' href='#yt-comments-section'>YT Posts({{yt_comments_count}})</a>
        </div>
        <div class='col-2'></div>
      </div>
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'> </div>
          <div class='col-8'>
            <div class='container'>
              <div class='row'>
                <div class='bg-info round container col-12'>Total occurrences: {{ fb_posts_count }}, displaying at most 100. </div> <br />
                {% for post in fb_posts %}
                  <div class='card' style='width: 22rem; margin: 5px;'>
                    <div class='card-header btn-primary'>
                      <span>Facebook Post (id: {{post.post_id}})</span>
                    </div>
                    <div class='card-block'>
                      <h4 class='card-title'>{{post.pagename}}</h4>
                      <h6 class='card-subtitle mb-2 text-muted'>{{post.timestamp}}</h6>
                      <p class='card-text'>{{post.message}}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class='col-2'> </div>
        </div>
      {% endif %}
      <a name='yt-comments-section'></a>
      {% if yt_comments %}
      <div class='row' style='margin-top: 10px'>
        <div class='col-2'></div>
        <div class='col-8'>
          <a class='btn btn-primary' href='#fb-comments-section'>FB Comments({{fb_comments_count}})</a>
          <a class='btn btn-primary' href='#fb-post-section'>FB Posts({{fb_posts_count}})</a>
          <a class='btn btn-danger' href='#yt-comments-section'>YT Posts({{yt_comments_count}})</a>
        </div>
        <div class='col-2'></div>
      </div>
        <div class='row' style='margin-top: 10px'>
          <div class='col-2'> </div>
          <div class='col-8'>
            <div class='container'>
              <div class='row'>
                <div class='bg-info round container col-12'>Total occurrences: {{ yt_comments_count }}, displaying at most 100. </div> <br />
                {% for comment in yt_comments %}
                  <div class='card' style='width: 22rem; margin: 5px;'>
                    <div class='card-header btn-danger'>
                      <span>Youtube Comment (id: {{comment.comment_id}})</span>
                    </div>
                    <div class='card-block'>
                      <h4 class='card-title'>{{comment.username}}</h4>
                      <h6 class='card-subtitle mb-2 text-muted'>{{comment.timestamp}}</h6>
                      <h5>Video: {{comment.video}}<h5>
                      <p class='card-text'>{{comment.message}}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class='col-2'> </div>
        </div>
      {% endif %}
    </div>
    {% load staticfiles %}
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
